<ion-header>
  <ion-navbar>
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'" alt="profile-pic">
  </ion-avatar>
  <h2 text-center>{{cliente?.nome}}</h2>
  <p text-center>{{cliente?.email}}</p>

  <ion-card>
    <ion-card-header>
      Atualizar foto de perfil
    </ion-card-header>

    <ion-item *ngIf="picture">
      <img [src]="picture" alt="foto de perfil">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Tirar com a camera</button>
      <button ion-button block outline (click)="sendPicture()" *ngIf="picture">Enviar foto</button>
      <button ion-button block outline (click)="cancel()" *ngIf="picture">Descartar imagem</button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Informações do perfil
    </ion-card-header>

    <ion-item>
      <button ion-button block (click)="updateData()">Atualizar dados</button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="admin != -1">
    <ion-card-header>
      Alterar dados do sistema
    </ion-card-header>

    <ion-item>
      <button ion-button block (click)="updateData()">Alterar dados do sistema</button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Excluir conta
    </ion-card-header>

    <ion-item>
      <button class="danger" ion-button block (click)="findClient()">Excluir</button>
    </ion-item>
  </ion-card>
</ion-content>
