<ion-header>
  <ion-navbar>
    <ion-title>Mudar senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="checkPasswordCreds(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Seu email:</ion-label>
      <ion-input formControlName="email" type="text" readonly="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Digite senha atual:</ion-label>
      <ion-input formControlName="current" type="password"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.current.dirty && formGroup.controls.current.errors" margin-left>Preenchimneto obrigatório</p>

    <ion-item>
      <ion-label stacked>Digite a nova senha:</ion-label>
      <ion-input formControlName="pass" type="password"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.pass.dirty && formGroup.controls.pass.errors" margin-left>Preenchimneto obrigatório</p>
    

    <ion-item>
      <ion-label stacked>Confirme a nova senha:</ion-label>
      <ion-input formControlName="passAgain" type="password"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.passAgain.dirty && notEqual()" margin-left>As senhas não correspondem</p>
    <p class="danger" *ngIf="formGroup.controls.passAgain.dirty && formGroup.controls.passAgain.errors" margin-left>Preenchimneto obrigatório</p>

    <button ion-button block type="submit" [disabled]="formGroup.invalid || notEqual()">Atualizar senha</button>
  </form>
</ion-content>
