page-update-data {
    .button {
        background: #ffc409;
        color: black;
    }

    .right {
        position: absolute;
        right: 5%;
    }

    .left {
        position: absolute;
        left: 5%;
    }
}
